{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="card">
    <div class="card-header bg-primary"><h4 class="text-white">Editar Perfil</h4></div>
    <div class="card-body">
    {% form_theme form _self 'bootstrap_4_horizontal_layout.html.twig' _self %}
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
                <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>

{% endblock fos_user_content %}

{% block form_label_class -%}col-sm-4{%- endblock form_label_class %}

{% block form_group_class -%}col-sm-8{%- endblock form_group_class %}
