{% extends 'main/layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-3">Sistema Integrado Estadístico de Carabineros</h1>
        <p class="lead">Bienvenido al sitio de Ingreso de Información de Accidentes SIEC3</p>
        <hr class="my-4">
        <p>Para consultas y sugerencias generales, favor diríjase envíe un correo a consulta.siec3@mtt.gob.cl</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Manual de Usuario</a>
    </div>

{% endblock %}
