{% extends 'layout.html.twig' %}

{% block content %}
    {% block header %}{% endblock %}
    {% block registro %}{% endblock %}
{% endblock %}

{% block flashMessages %}
    {% for flashMessage in app.session.flashbag.get('control') %}
        <script>
            $(document).ready(function() {
                $.notify({
                    // options
                    icon: 'glyphicon glyphicon-warning-sign',
                    title: '<strong>Notificación: </strong>',
                    message: '{{ flashMessage }}',
                },{
                    // settings
                    element: 'body',
                    position: null,
                    type: "success",
                    allow_dismiss: true,
                    newest_on_top: false,
                    showProgressbar: false,
                    placement: {
                        from: "top",
                        align: "right"
                    },
                    width: 500,
                    offset: 30,
                    spacing: 10,
                    z_index: 1031,
                    delay: 5000,
                    timer: 1000,
                    url_target: '_blank',
                    mouse_over: null,
                    animate: {
                        enter: 'animated flipInX',
                        exit: 'animated flipOutX'
                    },
                    onShow: null,
                    onShown: null,
                    onClose: null,
                    onClosed: null,
                    icon_type: 'class',
                    template: '{{ block("flashTemplate") }}' 
                });
            });
        </script>
    {% endfor %}
{% endblock %}

{% block flashTemplate %}
    {% spaceless %}
    <div data-notify="container" class="col-xl-6 alert alert-{0}" role="alert">
        <button type="button" aria-hidden="true" class="close" data-notify="dismiss"><span class="fa fa-times"></span></button>
        <span data-notify="icon"></span>
        <span data-notify="title">{1}</span>
        <span data-notify="message">{2}</span>
    </div>
    {% endspaceless %}
{% endblock %}