{% extends 'layout.html.twig' %}

{% block title %}Gestión de Usuario{% endblock %}

{% block content %}
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                {% set menu = knp_menu_get('user', [], {}) %}
                {{ knp_menu_render(menu) }}
                <main class="">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div>
                        {% block fos_user_content %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
{% endblock %}

