{% extends 'instructivo/layout.html.twig' %}

{% block title %}Instructivo{% endblock %}

{% block header %}
    <h1><span class="fa fa-fw fa-book"></span> Instructivos</h1>
{% endblock %}

{% block instructivo %}
{% endblock %}
