{% extends 'siec/layout.html.twig' %}

{% block siec %}
    {% block header %}<h1><span class="fa fa-fw fa-lg fa-flag"></span> Unidades</h1>{% endblock %}
    <hr>
    {% block unidad %}{% endblock %}
{% endblock %}