{% extends 'layout.html.twig' %}
{% use 'siec/aside.html.twig' %}

{% block content %}
    <div class="form-row">
        <div class="col-xl-2">
            {{ block('aside') }}
        </div>
        <div class="col-xl-10">
            {% block siec %}{% endblock %}
        </div>
    </div>
{% endblock %}